extends default

block content
  div.course
    each course in courses
      br
      h1.course-name #{course.name}
      a(href=`/courses?id=${course.id}`) View Course
      br
      button(type='button', id=course.name, onClick='addCourse()') Add Course
      button(type='button', id=course.name, onClick='dropCourse()') Drop Course
      button(type='button', id=course.name, onClick='swapCourse()') Swap
      br

  script.
    var classes = []
    function addCourse() {
      alert('Added the courses')
    }
    function dropCourse() {
      alert('Dropped the courses')
    }
    function swapCourse() {
      alert('Swapped the courses')
    }
