extends default

block content
  div.course
    each course in courses
      br
      h1.course-name #{course.name}
      a(href=`/courses?id=${course.id}`) View Course
      br
      button(type='button', id=course.name, onClick='addCourse(this.id)') Add Course
      button(type='button', id=course.name, onClick='dropCourse()') Drop Course
      button(type='button', id=course.name, onClick='swapCourse()') Swap
      br
  div.course
    <p id="myCourses">My Courses </p>


  script.
    var classes = []

    function addCourse(clicked_id) {
      classes.push(clicked_id)
      document.getElementById("myCourses").innerHTML = classes;
    }
    function dropCourse() {
      classes.remove(clicked_id)
      document.getElementById("myCourses").innerHTML = classes;
    }
    function swapCourse() {
      document.getElementById("myCourses").innerHTML = "This is great";
    }
